* {
  box-sizing: border-box;
  margin: 0;
}

#month, .title, payment  {
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

payment {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  label, input, select, button {
    margin: 5px 0;
  }
}